/*!
Theme Name: Hypercore Child Theme
Template: hypercore
Developer:
*/

$url: 'https://hypercore.local';
$themeDir: '#{$url}/wp-content/themes/hypercore-child';
$contentDir: '#{$url}/wp-content/uploads';

@import 'parts/_mixins';

/*! -------------------------
   DO NOT TOUCH THIS CODE
   If you need to add custom styles, use the Custom CSS field in the theme options
   Changes to this particular file should be made in the style.scss sheet by a developer
------------------------- */

/*! -------------------------
   Variables
------------------------- */
:root {
}

/*! -------------------------
   Main Stylez
------------------------- */

/*! -------------------------
   Header Stylez
------------------------- */

/*! -------------------------
   Title Bar Stylez
------------------------- */

/*! -------------------------
   Sidebar Stylez
------------------------- */

/*! -------------------------
   Footer Stylez
------------------------- */
